doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Document
    link(rel='stylesheet', href='../css/final-list.css')
  body
    div(class="page-layout")
        div(class="page-title") Shopping List #{date}
        div(class="category-layout")
          each val, index in data
            div(class=`category${index}`)
              div(class=`${val.classAttribute}`) val.itemCategory
              div(class="content") 'apple', 'baby spinach', 'banana'
          
      