doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
    script(src='../js/script.js', defer)
    title Document
  body
    .layout
      h1 Shopping List App
      .container
        .select
          h1.select-title Select Item
          label Search
          input(type='text', placeholder='Enter shopping item here')
          .circle
        .import
        .current
      .generate