doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='../css/style.css')
    script(src='../js/renderer.js', defer)
    title Document
  body
    .layout
      h1 Shopping List App
      .container
        .select
          .title-container
            h1.select-title Select Item
          .search-container
            label Search
            input(type='text', placeholder='Enter shopping item here')
            .search
              img.search-img(src='../image/search.svg')
          ul.search-list
            li.list-titles
              span Item Name
              span Category
              span Frequency
            li.listItem1
              span Banana
              span Fresh Produce
              span Weekly
          .circle
            p.item Blueberries
            p.freq
              span.order Order Frequency:
              |  Weekly
            .select_button
              p.add Add to List
        .current