doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='../css/style.css')
    script(src='../js/renderer.js', defer)
    title Document
  body
    .layout
      h1 Shopping List App
      .container
        .select
          .title-container
            h1.select-title Select Item
          .search-container
            label Search
            input(type='text', placeholder='Enter shopping item here')
            .search
              img.search-img(src='../image/search.svg')
          ul.search-list.
            
            
          .circle
            p.item ----
            p.freqInfo
              span.order Order Frequency:
              |  
              span.freq ----
            .select_button
              p.add Add to List
        .current
          .title-container
            h1.select-title Review List
          .button-container
            .review-button.review-button1 View/Edit List
            .review-button.review-button2 Save Data
      .modal-form
        .modal-title
          h2 Shopping List Summary
        .categories
          .active
            h3 Fresh Produce
          div
            h3 Dairy
          div
            h3 Grains & Cereals
          div
            h3 Baking
          div
            h3 Frozen
          div
            h3 Oils & Seasoning
          div
            h3 Snacks, Spreads & Drink
          div
            h3 Cleaning & Household
        .item-summary
          .item-view
            span Blueberries
            button Remove
          .item-view
            span Blackberries
            button Remove
          .item-view
            span Banana
            button Remove
          .item-view
            span Rolled Oats
            button Remove
          .item-view
            span Rolled Oats
            button Remove
          .item-view
            span Rolled Oats
            button Remove
          .item-view
            span Rolled Oats
            button Remove
          .item-view
            span Rolled Oats
            button Remove
          .item-view
            span Rolled Oats
            button Remove